.barraNavegacion{
    background-image: url("../components/fondoNav.JPG");
    height: 90%;
    font-size: x-large;
}

.card{
    font-size: large;
    width: 280px;
    text-align: center;
    margin: 1.5rem;
}

.card-header {
    padding: 0 !important;
}

.dropdown {
    display: flex;
    align-items: center;
}

a{
    color: rgb(39, 39, 39) !important;
    transition-duration: 0.5s;
}

a:hover {
    transform: scale(1.05);
}

.divCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.btnContador{
    width: 50px;
    border-radius: 50%;
}

form {
    padding-right: 50px;
}

.logoCarrito{
    width: 70px;
    padding-right: 30px;
    transition-duration: 0.3s;
}

.logoCarrito:hover {
    transform: scale(1.1);
  }

.btnCarrito{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.footer {
    background-image: url("../components/fondoNav.JPG");
    height: 100px;
    font-size: x-large;
}

.itemDetail {
    display: flex;
    justify-content: center;
}

.itemDetailFlex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.countImg {
    border-radius: 25px;
}