.barraNavegacion{
    background-image: url("../components/fondoNav.JPG");
    height: 90%;
    font-size: x-large;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

.footer {
    background-image: url("../components/fondoNav.JPG");
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.card{
    font-size: large;
    width: 280px;
    text-align: center;
    margin: 1.5rem;
}

.card-header {
    padding: 0 !important;
}

.dropdown {
    display: flex;
    align-items: center;
}

a{
    color: rgb(39, 39, 39) !important;
    transition-duration: 0.5s;
}

a:hover {
    transform: scale(1.05);
}

.divCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.btnContador{
    width: 50px;
    border-radius: 50%;
    border: 0.2px solid black;
}

.logoCarrito{
    width: 40px;
    transition-duration: 0.3s;
}

.logoCarrito:hover {
    transform: scale(1.05);
  }

.infoCarrito {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.btnCarrito{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.itemDetail {
    display: flex;
    justify-content: center;
}

.itemDetailFlex {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
}

.countImg {
    border-radius: 25px;
}

.categoria, .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.itemDetailInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.itemDetailInfoContainer {
    padding-left: 40px;
}

.contador {
    display: flex;
    align-items: center;
    min-width: 145px;
    padding-bottom: 50px;
    padding-top: 30px;
}

h4 {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 45px;
}

.card {
    padding: 0 !important;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title {
    font-size: x-large;
    min-width: 280px;
    padding-bottom: 15px;
}

.card-text {
    max-width: 500px;
}

.card-precio {
    font-size: x-large;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}

.staffImg {
    border-radius: 25px;
    width: 40%;
}

.staffTxt {
    width: 70%;
    padding: 15px;
}

.containerForm {
    max-width: 700px;
    margin-top: 100px;
    text-align: center;
}

.totalCarrito {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.finalizarCompra {
    display: flex;
    justify-content: space-evenly;
}

.btnFinalizarCompra {
    background-color: rgb(84, 139, 0);
    border-color: rgb(84, 139, 0);
}

.btnFinalizarCompra:hover {
    background-color: rgb(115, 172, 31);
    border-color: rgb(115, 172, 31);
    transform: scale(1.03);
  }

.btnVaciarCarrito {
    background-color: rgb(202, 0, 0);
    border-color: rgb(202, 0, 0);
}

.btnVaciarCarrito:hover {
    background-color: rgb(231, 59, 59);
    border-color: rgb(231, 59, 59);
    transform: scale(1.03);
  }

  .carritoVacio {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgCarrito {
    padding-bottom: 50px;
    width: 5%;
  }

  .carrito {
    margin-bottom: 120px;
  }

.confirmarCompra {
    display: flex;
    justify-content: center;
}


  